version: '3.12'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
#    volumes:
#      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: secondheart
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: secondheart
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: m3K9_zn5L5!
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d mydatabase" ]
      interval: 5s
      timeout: 5s
      retries: 5
  volumes:
    pg_data:

